# Dependencies
**/node_modules/
.pnp
.pnp.*

# Next.js / Build outputs
**/.next/
**/out/
**/dist/
**/.build/

# IDEs and System files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/

# Environment Variables / Secrets
**/.env
**/.env.local
**/.env.production
**/.env.development
**/.env.test

# Testing
**/coverage/